#content{
    display: flex;
    justify-content: center;
    align-items: center;    
    min-height: 100vh;
    /* height: 800px; */
    background-color: white;
}
#login_box {
    width: 400px;     
    background-color: white;
    border: 1px gray solid;
    border-radius: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    /* box-shadow: 5px 5px 5px; */
    
}

#btn_login {
    background-color: #4CAF50;  /* 초록색 배경 */
    color: white;               /* 글자색 흰색 */
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 40px;
}
#btn_join, #find_id, #find_pw{
    display: flexbox;
}


#buttons{
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    /* border: 1px solid black; */
    background-color: white;
    cursor: pointer;
}
#sub_buttons {
    display: flex;
    justify-content: center;
    gap: 10px; /* 버튼 사이 간격 */
    text-decoration: none;
}
#sub_buttons input{
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: white;
    cursor: pointer;
    /* 밑줄 제거 */
    color: gray;  
}
